body{
    background: linear-gradient(
    to right,
    rgb(165, 94, 228) 0%,
    rgb(34, 115, 190)50%,
    rgb(22, 189, 189) 100%)
}
iframe{
    height: 100%;
    border-radius: 10px;
}
h1{
    font-size: 50px;
}
h3{
    color: darkorange;
}
h2{
}
img{
    border-radius: 20px;
    margin-left: 10cm;
}
video{
    height: 175;
    border-radius: 10px;
}