body{
    background:linear-gradient(
        to right,
        rgb(165, 94, 228) 0%,
        rgb(34, 115, 190)50%,
        rgb(22, 189, 189) 100%)
    
}
iframe{
    height: 100%;
    border-radius: 10px;
}
h1{
    font-size: 30px;
}
h3{
    margin-left: 2cm;
    color: darkorange;
}
img{
    border-radius: 20px;

}
video{
    height: 175;
    border-radius: 10px;
}
h2{
    font-size: large;
}